body,ul,h1,p,h2{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
}
li{
    list-style: none;
}
.res{
    display: block;
}
.on{
    display: none;
}
i.fa-undo{
    display: none;
}
i.fa-bars{
    display: none;
}
.menu{
    width: 40%;
    background: rgba(27, 27, 27, 0.788);
    height: 395px;
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    display: none;
}
.menu-ul{
    padding-top: 5px;
}
.menu-ul li{
    border-bottom: solid 1px white;
    margin-top: 15px;
    padding-bottom: 18px;
}
.menu-ul li a{
    color: white;
    text-decoration: none;
}
.menu-ul li:last-child{
    border: none;
}
span.comment{
    color: white;
    line-height: 100px;
    margin-right: 25px;
    font-weight: bold;
}

/*
======================
       サイトの幅
======================
 */
.site-width{
    width: 980px;
    margin: auto;
}

/*
======================
      headerのCSS
======================
*/
header{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 95px;
}
h1.logo{
    display: inline-block;
    margin-left: 100px;
    letter-spacing: 4px;
    line-height: 95px;
}
.logo a{
    color: white;
    text-decoration: none;
    font-family: 'Impact';
    font-size: 45px;
}
.header-nav{
    float: right;
}
.header-nav ul li{
    float: left;
    margin-right: 30px;
    line-height: 95px;
    letter-spacing: 1.6px;
}
.header-nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.logo{
    color: white;
}
header ul li a:hover{
    color: orange;
    text-decoration: underline;
}

/*
======================
        フッター
======================
 */
 footer{
     height: 180px;
     background: rgb(24, 24, 24);
     color: white;
 }
 span.scroll{
     color: white;
     font-size: 40px;
     font-weight: bold;
     position: relative;
     top: -30px;
     left: 48.5%;
     background: rgb(24, 24, 24);
     padding: 7px 14px;
     border-radius: 50%;
     cursor: pointer;
 }
 .footer-nav ul{
     height: 30px;
     width: 50%;
     margin: auto;
 }
 .footer-nav ul li{
     float: left;
     width: 20%;
     box-sizing: border-box;
     text-align: center;
     border-right: 1px solid white;
 }
 .footer-nav ul li:last-child{
     border: none;
 }
 .footer-nav ul li a{
     color: white;
     text-decoration: none;
 }
 .footer-nav ul li a:hover{
     color: orange;
 }
 .footer-coment{
     text-align: center;
     padding-top: 40px;
     letter-spacing: 2px;
     font-size: 13px;
 }

/*
=============================
        メインページ
=============================
 */
 .detail-section{
    height: 800px;
    background-image: url(/img/myPage-top.jpg);
    background-size: cover;
    color: white;
}
.detail-container{
    height: 800px;
    padding-bottom: 100px;
    background: #00000094;
    display: none;
}
.detail{
    padding-top: 170px;
    text-align: center;
    width: 100%;
    margin: auto;
}
.detail h1{
    font-size: 45px;
    color: orange;
    margin-bottom: 50px;
}
p{
    font-size: 20px;
    padding-bottom: 10px;
}
a{
    color: orange;
    text-decoration: none;
}
input[type="submit"]{
    padding: 10px 15px;
    background: orange;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 15px;
}
input.select-btn{
    background: #666;
}

 /*
==============================
        レスポンシブ480px
==============================
 */
 @media screen and (max-width: 480px){

    .site-width{
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        width: 100%;
    }
    .res{
        display: none
    }
    .on{
        display: block;
    }
    i.fa-bars{
        display: block;
        color: white;
        font-size: 30px;
        position: fixed;
        top: 35px;
        right: 20px;
        z-index: 11;
    }
    i.fa-undo{
        display: none;
        color: white;
        font-size: 30px;
        position: fixed;
        top: 35px;
        right: 20px;
        z-index: 11;
    }

/*
    =====================
            header
    =====================
 */
    .header-nav ul{
        display: none;
    }
    h1.logo{
        margin-left: 10px;
    }
    .logo a{
        font-size: 24px;
    }

/*
=======================
        footer
=======================
 */
    span.scroll{
        left: 43%;
    }
    .footer-nav ul{
        width: 100%;
    }

/*
=======================
        main
=======================
 */
    .detail{
        padding-top: 100px;
    }
    .detail-container{
        height: auto;
        min-height: 800px;
        padding-bottom: 50px;
    }
    .detail-section{
        height: auto;
        min-height: 800px;
    }
}
